.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding-right: 10px;
    
}
.products-container{
}
.products{
    display: flex;
    justify-content: center;
}
.cart-container{
    background-color: LightCyan;
    position: sticky;
    top : 0;
}
@media screen and (max-width:1100px) {
    .products-container{
        grid-template-columns: 4fr 1fr;
    }
    .cart-container{
        
    }
}