.product img{
    width: 300px;
    margin: 5px;
}
.product{
    border: 1px solid grey;
    position: relative;
    height: 500px;
}
.product-info{
    margin-left: 15px;
}
.cart-btn{
    border: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    background-color: LightPink;
    cursor: pointer;
    font-size: 14px;
    padding: 10px;
}
.cart-btn:hover{
    opacity: 0.8;
}
.cart-btn p{
    margin-bottom: 0;
    margin-right: 12px;
}
@media screen and (max-width:576px){
    .product {
        width: 350px;
        margin:auto ;
    }
}
@media screen and (max-width: 768px){
    .product{
        width: 350px;
    }
}